.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    'h h'
    'n c';
  max-width: 1280px;
  margin: 0 auto;
}

.app-wrapper-content {
  grid-area: c;
  background-color: gray;
}